html {
    background-image: url('/imgs/bubble-background.jpg');
    background-size: cover;
}

.container {
    margin: 12% auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 20%;
}

.card {
    margin: 40px 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transform: scale(2);
    padding: 20px;
}

.card:hover {
    filter: invert(100%);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,.2);
    cursor: pointer;
}