<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dia5.css">
    <title>Dia 5</title>
</head>

<body>
    <div>
        <img class="imgFundo" src="/imgs/background-padrao.png" alt="" />
        <div class="botao">
            <a href="/princesa"><button>Procurar Princesa</button></a>
        </div>
    </div>
</body>

</html>