<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <title>Dia 13</title>
    <link rel="stylesheet" href="/css/dia13.css">
    <link rel="icon" sizes="192x192" href="/imgs/icon.png">
</head>

<body>

    <header>

        <div class="nav">
            <div class="nav__mobile">
                <nav class="nav__menu">
                    <div class="nav__container">
                        <ul class="nav__menu__list">
                            <li class="nav__menu__item"><a class="nav__menu__link" href="#">Home</a></li>
                            <li class="nav__menu__item"><a class="nav__menu__link" href="#">Contato</a></li>
                            <li class="nav__menu__item"><a class="nav__menu__link" href="#">Sobre</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>


        <nav class="header__border">

            <div class="header__menu__mobile">
                <div class="header__menu__nav">
                    <div class="header__menu__botao">
                        <a href="" class="nav__menu__trigger"><span class="nav__menu__icon"></span></a>
                    </div>
                    <span class="logo">Nome Legal de Site</span>
                </div>
            </div>

            <ul class="header__menu__lista">
                <li class="header__menu__lista__links"><a href="#">Home</a></li>
                <li class="header__menu__lista__links"><a href="#">Contato</a></li>
                <li class="header__menu__lista__links"><a href="#">Sobre</a></li>
            </ul>

        </nav>

    </header>

    <div class="container-cards">
        <div class="card">
            <span>
                <i class="fas fa-user"></i>
            </span>
        </div>
        <div class="card">
            <span>
                <i class="fas fa-user-graduate"></i>
            </span>
        </div>
        <div class="card">
            <span>
                <i class="fas fa-user-astronaut"></i>
            </span>
        </div>
        <div class="card">
            <span>
                <i class="fas fa-user-secret"></i>
            </span>
        </div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

<script src="/js/dia13.js"></script>

</html>