<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dia 16</title>
    <link rel="stylesheet" href="/css/dia16.css">
    <link rel="icon" sizes="192x192" href="/imgs/icon.png">
</head>

<body>

    <header>
        <span>Uma Logo Legal</span>
    </header>

    <div class="botao">
        <button id="importar">Importar Dados</button>
    </div>

    <table>
        <caption>Lista de Países</caption>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Capital</th>
                <th>Área</th>
                <th>Moedas</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <footer>
        <p>
            Um footer maneiro ae
        </p>
    </footer>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="/js/dia16.js"></script>

</html>