<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;1,300&family=Orbitron&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="css//dia7.css">
    <title>Dia 7</title>
</head>

<body>
    <main class="container">
        <div class="contador">
            <div class="intervalo">
                <span id="decHr">0</span>
                <span id="hr">0</span>
            </div>
            <span class="pontos">:</span>
            <div class="intervalo">
                <span id="decMin">0</span>
                <span id="min">0</span>
            </div>
            <span class="pontos">:</span>
            <div class="intervalo">
                <span id="decSeg">0</span>
                <span id="seg">0</span>
            </div>
        </div>
        <div class="botoes">
            <button id="iniciar">Iniciar</button>
            <button id="pausar">Pausar</button>
            <button id="resetar">Resetar</button>
        </div>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="js/dia7.js"></script>

</html>