<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/dia3.css">
    <link rel="icon" sizes="192x192" href="/imgs/icon.png">
    <title>Dia 3</title>
</head>

<body>

    <div class="fundo">
        <img class="bottom" src="imgs/fundo-preto.png" />
        <img class="top transparent" src="imgs/fundo-mundo.jpg" />
    </div>

    <div class="container-botao">

        <div class="div-botao">
            <span id="botao"></span>
        </div>

    </div>

    <h1 class="hello transparent">Hello World !</h1>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

<script src="/js/dia3.js"></script>

</html>