<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dia 11</title>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/dia11.css">
</head>

<body>

    <main>
        <div class="container-principal">

            <div class="titulo">
                <h1>Login</h1>
            </div>

            <div class="container-principal">

                <div class="formulario">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" id="email" placeholder="Insira o seu e-mail">
                    <span id="emailInvalido" class="naoMostrar">E-mail inválido</span>
                    <label for="senha">Senha</label>
                    <input class="form-control" type="password" id="senha" placeholder="******">
                    <div class="botao">
                        <button id="entrar" class="btn mt-3">Entrar</button>
                    </div>
                </div>

            </div>

        </div>
    </main>

</body>
<script src="/js/dia11.js"></script>

</html>