@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

html {
    color: white;
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
}

.main {
    width: 100%;
    text-align: center;
    margin-left: 50px;
}

h1{
    margin-top: 70px;
    color: red;
}

.img404 {
    height: 100vh;
    z-index: -1;
    width: 100vw;
    position: absolute;
    left: 0;
}