<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dia 20</title>
    <link rel="icon" sizes="192x192" href="/imgs/icon.png">
    <style>
        html {
            background-image: url('/imgs/emoji.jpg');
        }

        .container {
            position: absolute;
            left: 40%;
            top: 40%;
            transform: translate(-40%, -40%);
            width: 100%;
            display: flex;
            justify-content: center;
        }

        emoji-picker {
            box-shadow: 10px 10px 20px 5px black;
        }
    </style>
</head>

<body>
    <div class="container">
        <emoji-picker class="light"></emoji-picker>
    </div>
</body>
<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>
<script>

    document.querySelector('emoji-picker')
        .addEventListener('emoji-click', function (e) {
            navigator.clipboard.writeText(e.detail.unicode);
        });
</script>

</html>